{% extends "layout.html" %}
{% block title %}C Compiler{% endblock %}
{% block content %}
    <div class="two column row">
    	<h1>C Compiler</h1>
	</div>
    <div class="two column row">
    	<div class="column">
	    	<form class="ui form" action="/" method='post' enctype='multipart/form-data'>
	    		<h4 class="ui dividing header">C Code</h4>
	    		<div class="field">
	    			{% if code %}
	    				<textarea id="textbox" name="code">{{ code }}</textarea>
	    			{% else %}
	    				<textarea id="textbox" name="code" placeholder="Type some C code here. Feel free to use tabs"></textarea>
	    			{% endif %}
	    		</div>
	    		<!-- For file uploading -->
	    		<!-- <div class="ui horizontal divider">
			    	Or
			  	</div>
	    		<div class="field">
					<input class="ui blue button" type='file' name='file'/>
				</div> -->
				<div class="field">
					<!-- Semantic can't place the loading icon within the input tag -->
					<div id="loading" class="ui loading purple button">Loading</div>
					<input id="compile" class="ui purple button" type='submit' value='Compile'/>
				</div>
			</form>
		</div>
		<div class="column">
			<!-- Set max height on box -->
			<h4 class="ui dividing header">Compilation Errors and Warnings</h4>
			{% if cErr%}
				<div class="ui primary segment">
					{% if cErr != "NULL" %}
				 		<pre class="codeErrs">{{ cErr }}</pre>
					{% else %}
						<p>Compilation Successful. No errors or warnings reported.</p>
					{% endif %}
				</div>
				{% if hashFile != "NULL" %}
				 	<form method="get" action="{{ hashFile }}">
						<button class="ui green button" type="submit">Download Binary</button>
					</form>
				{% else %}
					<h4>No binary file generated. Please fix errors</h4>
				{% endif %}
			{% endif %}
		</div>
    </div>
{% endblock %}