<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="/static/semantic-ui/dist/semantic.min.css" />
<!-- 		<link rel="stylesheet" href="/static/dropzone/dist/min/basic.min.css" />
		<link rel="stylesheet" href="/static/dropzone/dist/min/dropzone.min.css" /> -->
		<link rel="stylesheet" href="/static/style.css" />
		<title>{% block title %}{% endblock %} - Brent Scheibelhut</title>
	</head>
	<body>
		<div class="ui two column page padded grid medium-padding-top">
			{% block content %}{% endblock %}
		</div>

		<script src='/static/jquery/dist/jquery.min.js'></script>
		<script src='/static/semantic-ui/dist/semantic.min.js'></script>
		<script src='/static/script.js'></script>
<!-- 		<script src="/static/dropzone/dist/min/dropzone.min.js"></script> -->
	</body>
</html>